* text=auto

*.cmd text eol=crlf
*.md text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.json text eol=lf
*.cfg text eol=lf
*.cfg.example text eol=lf
*.txt text eol=lf
*.rs text eol=lf
*.toml text eol=lf
Cargo.lock text eol=lf
LICENSE text eol=lf
CODEOWNERS text eol=lf
.gitignore text eol=lf
.gitattributes text eol=lf

*.png binary
