* text=auto eol=lf

*.cs text eol=crlf
*.csproj text eol=crlf
*.sln text eol=crlf
*.props text eol=crlf
*.targets text eol=crlf
*.resx text eol=crlf
*.xaml text eol=crlf
*.cfg text eol=crlf
*.ps1 text eol=crlf
*.cmd text eol=crlf
*.bat text eol=crlf

*.rs text eol=lf
*.toml text eol=lf
*.md text eol=lf
*.json text eol=lf
*.yml text eol=lf
*.yaml text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.bmp binary
*.exe binary
*.dll binary
*.pdb binary
*.zip binary
*.7z binary
*.sfx binary
*.resources binary
